<% include partials/header %>
<div class="about-container">
    <h1>About Me</h1>
    <img src="/images/logo.png" alt="Your Name" class="profile-image">
    <div class="bio">
        <p>
            As a Business Analyst at VTB, one of the largest banks in Russia, I apply my extensive experience and expertise in Agile SCRUM methodology to deliver business value and digital transformation across various projects and products in the fintech and logistics domains. I collaborate with cross-functional teams of developers, designers, testers, and stakeholders to analyze key business problems, model processes, and develop business requirements for product development.
        </p>
        <p>
            With over 10 years of experience in the field, I have achieved significant accomplishments in enhancing business process efficiency and cost reduction, using my sharp analytical skills and tools such as use case, UML, and BPMN. I am passionate about creating innovative solutions that meet the needs and expectations of the customers and the business, while ensuring quality and compliance standards. I am always eager to learn new skills and technologies that can help me improve my performance and deliver better results.
        </p>
        <a href="/my_resume.pdf" download class="resume-link">Download My Resume</a>
    </div>
</div>
<% include partials/footer %>