<% include partials/header %>
<h1>Contact Me</h1>
<p>
    Phone: (438) 229-42-18<br>
    E-mail: <a href="mailto:elena.a.ogneva@gmail.com">elena.a.ogneva@gmail.com</a>
</p>

<img src="/images/logo1.png" alt="Your Portfolio Logo" style="max-width: 100px; height: auto;">

<form action="/submitContact" method="post">
    <input type="text" name="firstName" placeholder="First Name" required>
    <input type="text" name="lastName" placeholder="Last Name" required>
    <!-- Add more input fields similarly -->
    <button type="submit">Submit</button>
</form>

<% include partials/footer %>
