<% include partials/header %>
<h1>Welcome to My Portfolio</h1>
<p>Here's a bit about what I do and who I am.</p>
<a href="/about">Learn More About Me</a>
<p>My Mission: [Your Mission Statement Here]</p>
<% include partials/footer %>